<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/model1.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Crop Analysis</h1><br>
            <div layout="row">
                <form name="soilForm">

                    <div layout="row">
                        Please Enter the Details of your Soil
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Nitrogen</label>
                            <input ng-model="nitrogen" name="nitrogen" type="number" min="260" max="575" step="1" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Phosphorus</label>
                            <input ng-model="phosphorus" name="phosphorus" type="number" min="32" max="55" step="1" required>
                        </md-input-container>

                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Potassium</label>
                            <input ng-model="potassium" name="potassium" type="number" min="215" max="305" step="1" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Organic Carbon</label>
                            <input ng-model="organiccarbon" name="organiccarbon" type="number" min="0.28" max="0.8" step="0.01" required>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>PH</label>
                            <input ng-model="pH" name="pH" type="number" step="0.01" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Temperature in C</label>
                            <input ng-model="temp" name="temp" type="number" min="0" max="100" step="0.01" required>
                        </md-input-container>
                    </div>
                    <md-button class="md-raised md-primary" ng-disabled="soilForm.nitrogen.$invalid || soilForm.potassium.$invalid || soilForm.organiccarbon.$invalid || soilForm.phosphorus.$invalid || soilForm.pH.$invalid || soilForm.temp.$invalid" ng-click="predictCrop()">Predict Crop</md-button>
                </form>
            </div>
            <br>
            <br>
            <div ng-if="yields!=null">
                <div>
                    The Yield for Crops will be in this order {{yields[0].id}}, {{yields[1].id}}, {{yields[2].id}}
                </div>
            </div>
        </div>
    </div>
</div>