<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px;background-image:url('static/images/title.png');height:1000px">
    <div layout="row">
    <div layout="column" style="margin:300px auto;">
        <h1 style="color:white;font-size: 5em;margin-left:100px">Anna-Data</h1>
        <h1 style="color:white;">Processing food and profits through Data</h1>
        <div layout="row" layout-align="center">
        <md-button class="md-primary md-raised" ui-sref="products">Our Solutions</md-button>
        <md-button class="md-warn md-raised" ui-sref="soil">If you dont have Soil Card</md-button>
        </div>
    </div>
    </div>
</div>
