<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/model1.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Processing Food and Profits using Data</h1><br>
            Use our analytics engine to convert your data into actionable insights. Choose the best crops for your farms, best suited based on your Soil Health and past crops grown.
            <br>
            <br>
            <div layout="row">
                <md-button class="md-raised md-primary" ui-sref="crop_analysis">Click here</md-button>
            </div>
        </div>
    </div>
</div>
<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/model2.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Risk and Rainfall Analysis</h1><br>
            Dont worry about the abrupt rainfalls now, Choose the best suited crops according to our Weather and Rain Forecasts.
            We also inform you about the probable floods or cyclone
            <br>
            <br>
            <div layout="row">
                <md-button class="md-raised md-primary" ui-sref="risk_assessment">Click here</md-button>
            </div>
        </div>
    </div>
</div>
<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/fund.jpg" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Farmer Friendly Schems and Loan Providers</h1><br>
            Government of India disclosed many new schemes for the farmer benefits in this year Union Budget, Click Here to see Loan Benefit Details
            <br>
            <br>
            <div layout="row">
                <md-button class="md-raised md-primary">Click here</md-button>
            </div>
        </div>
    </div>
</div>
<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/storage.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Find the Best, Economical and Nearest Crop Storage Centers around you</h1><br>
            Forget the days when you need to worry about the place to save your crops from rodent, pest and termites. Check out the best storage facilities here
            <br>
            <br>
            <div layout="row">
                <md-button class="md-raised md-primary" ui-sref="storage_assessment">Click here</md-button>
            </div>
        </div>
    </div>
</div>
<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/mba.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Product Placement Optimization Strategy</h1><br>
            If you are a Retailer too, we have got something for you too!
            Take the best advantage of customer preferneces and choose the best Product placement plan to boost up sales
            <br>
            <br>
            <div layout="row">
                <md-button class="md-raised md-primary">Click here</md-button>
            </div>
        </div>
    </div>
</div>
