<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/model2.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Crop Analysis</h1><br>
            <div layout="row">
                <form name="riskForm">

                    <div layout="row">
                        Please Enter the Details of your Soil
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Crop Type</label>
                            <md-select ng-model="crop" name="crop">
                                <md-option ng-repeat="crop in crops" value="{{crop.id}}">
                                    {{crop.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container class="md-block" flex>
                            <label>State</label>
                            <md-select ng-model="state" name="state">
                                <md-option ng-repeat="state in states" value="{{$index+1}}">
                                    {{state}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <md-button class="md-raised md-primary" ng-disabled="riskForm.crop.$invalid || riskForm.crop.$invalid" ng-click="predictCrop()">Predict Crop</md-button>
                </form>
            </div>
            <br>
            <br>
            <div ng-if="risk_obtained!=null">
                <div>
                    The Rainfall is {{risk_obtained.rainfall}}mm and Risk is {{risk_obtained.risk}}%
                </div>
            </div>
        </div>
    </div>
</div>