<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 50px;">
    <div layout="row">
        <pre>What is a Soil Health Card?
        SHC is a printed report that a farmer will be handed over for each of his holdings. It will contain the status of his soil with respect to 12 parameters, namely N,P,K (Macro-nutrients); S (Secondary- nutrient); Zn, Fe, Cu, Mn, Bo (Micro - nutrients); and pH, EC, OC (Physical parameters). Based on this, the SHC will also indicate fertilizer recommendations and soil amendment required for the farm.
        How can a farmer use a SHC?
        The card will contain an advisory based on the soil nutrient status of a farmer's holding. It will show recommendations on dosage of different nutrients needed. Further, it will advise the farmer on the fertilizers and their quantities he should apply, and also the soil amendments that he should undertake, so as to realize optimal yields.


        What are the norms of sampling?
        Soil samples will be drawn in a grid of 2.5 ha in irrigated area and 10 ha in rain- fed area with the help of GPS tools and revenue maps.

        What is the ideal time for soil sampling?
        Soil Samples are taken generally two times in a year, after harvesting of Rabi and Kharif Crop respectively or when there is no standing crop in the field.

        How will soil samples be collected from a farmer's field?
        Soil Samples will be collected by a trained person from a depth of 15-20 cm by cutting the soil in a "V" shape. It will be collected from four corners and the centre of the field and mixed thoroughly and a part of this picked up as a sample. Areas with shade will be avoided. The sample chosen will be bagged and coded. It will then be transferred to soil test laboratory for analysis.

        Who and Where will the soil sample be tested?
        The soil sample will be tested as per the approved standards for all the agreed 12 parameters in the following way:
        •	At the STLs owned by the Department of Agriculture and by their own staff.
        •	At the STLs owned by the Department of Agriculture but by the staff of the outsourced agency.
        •	At the STLs owned by the outsourced agency and by their staff.
        •	At ICAR Institutions including KVKs and SAUs.
        •	At the laboratories of the Science Colleges/Universities by the students under supervision of a Professor/ Scientist.
        What is the payment per sample?
        A sum of Rs. 190 per soil sample is provided to State Governments. This covers the cost of collection of soil sample, its test, generation and distribution of soil health card to the farmer.


        Benefits of the Soil Health Card Scheme

        •	The scheme will monitor the soil of the farmers well and will give them a formatted report. So, they can decide well which crops they should cultivate and which ones they should skip.
        •	The authorities will monitor the soil on a regular basis. One in every 3 years, they will provide a report to farmers. So, farmers need not worry if the nature of the soil changes due to certain factors. Also, they will always have updated data about their soil.
        •	The work of the government does not stop at listing down measures required to improve the quality of the soil. In fact, they will also employ experts to help farmers in carrying out the corrective measures.
        •	Farmers will get a proper soil health record, thanks to the Soil Health Card Scheme. Also, they can study the soil management practices. Accordingly, they can plan the future of their crops and land.
        </pre>
        </div>
</div>