<div class="md-content md-whiteframe-1dp white-bg" flex="90" flex-offset="5"
     style=" margin-top:20px;padding-bottom: 40px;margin-bottom: 20px">
    <div layout="row">
        <div layout="column" class="md-padding">
            <img src="static/images/storage.png" height="250" width="250">
        </div>
        <div layout="column" class="md-padding">
            <h1>Crop Analysis</h1><br>
            <div layout="row">
                <form name="soilForm">

                    <div layout="row">
                        Please Enter the Details of your Soil
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Latitude</label>
                            <input ng-model="lat" name="lat" type="number" min="-180" max="180" step="0.01" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Longitude</label>
                            <input ng-model="lng" name="lng" type="number" min="-90" max="90" step="0.01" required>
                        </md-input-container>

                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Weight</label>
                            <input ng-model="weight" name="weight" type="number" step="1" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Time in days</label>
                            <input ng-model="time" name="time" type="number" min="0" step="1" required>
                        </md-input-container>
                    </div>


                    <md-button class="md-raised md-primary" ng-disabled="soilForm.lat.$invalid || soilForm.lng.$invalid || soilForm.weight.$invalid || soilForm.time.$invalid " ng-click="predictStorage()">Predict Crop</md-button>
                </form>
            </div>
            <br>
            <br>
            <div ng-if="storage_ob!=null">
                <div>
                    Top 2 Neareast storage centers based on Geo coordinates Check console for output
                    {{storage_ob[0]["loc1"][1]}}, {{storage_ob[0]["loc1"][2]}}
                    {{storage_ob[0]["loc2"][1]}}, {{storage_ob[0]["loc2"][2]}}
                </div>
            </div>
        </div>
    </div>
</div>